@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');

:root {
    --primary-bg-color: #F6F6E9;
    --secondary-color-blue: #005792;
    --secondary-color-darkblue: #13334C;
    --tertiary-color-orange: #FD5F00;
    --gradient-bg: linear-gradient(to bottom right, #005792, #13334C);
}

* {
    margin: 0;
    padding: 0;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue';
}

p, label {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}





