body {
    margin: 0 2em;
    background-color: var(--primary-bg-color);
}

header {
    padding: 1.25em 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    position: relative;
    margin-bottom: 2em;
}

.card-one {
    grid-column:1/3;
    margin-bottom: 2em;
}

.wrapper .card {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1em;
    border-radius: 12px;
}

.card .description {
    margin-left:1.25em;
}

.history {
    position: absolute;
    right: 0;
    top: 32%;
}

.icon img{
    width: 100px;
    filter: invert(61%) sepia(90%) saturate(5591%) hue-rotate(3deg) brightness(104%) contrast(103%);
}

/*TYPOGRAPHY*/

nav > a > h2 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
    line-height: 1.2;
    color: var(--secondary-color-blue);
}

.logout-btn p {
    cursor: pointer;
    color: var(--shadow-color-two);
}

.logout-btn p:hover {
    color: var(--text-color-black);
}

.container .welcome-greeting {
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0;
    color: var(--secondary-color-darkblue);
}

.welcome-greeting span {
    color: var(--tertiary-color-orange);
}

.description h3 {
    margin-bottom: .5em;
    color: var(--secondary-color-darkblue);
}

.description p {
    color: var(--text-color-black);
}

.history a {
    font-family: 'Montserrat', sans-serif;
    color: var(--shadow-color-one);
}

.history a:hover {
    color: var(--secondary-color-blue);
}

@media (max-width:567px) {

    body {
        margin: 0 1.25em;
    }
    
    .wrapper {
        display: block;
        margin-bottom: 0;
    }

    .welcome-greeting {
        font-size: 1.25rem;
    }

    .icon img{
        width: 100px;
    }

    .wrapper .card {
        margin-bottom: 2em;
        max-height: 150px;
        padding: .75em;
        display: flex;
        align-items: flex-start;
    }

    .card .description {
        max-height: 100px;
        max-width: 250px;
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        margin-left:1em;
    }

    .description h3 {
        font-size: 1rem;
    }

    .description p {
        font-size: .75rem;
    }

    .history {
        position: absolute;
        right: 0;
        top: 17.5%;
    }
}