body {
    margin: 0 2em;
    /* background-color: pink; */
}

header {
    padding: 1.25em 0;
}

.navbar {
    padding: 0;
}

.navbar-brand > h2 {
    margin-bottom: 0;
    color: var(--secondary-color-blue);
}

.logout {
    cursor: pointer;
}

h3 {
    color: var(--secondary-color-darkblue);
}

p {
    color: var(--text-color-black);
}